.portfoliomutual-container {
    font-family: 'calibri';
    padding: 20px;
    color: #333;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex
;
    flex-direction: column-reverse;
    height: 450px;
    margin-left: 80px;
}

/* Chart container */
.chartmutual-container {
    height: 380px;
  
   

}

/* Time range selector styles */
.time-rangemutual-selector {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    margin-left: 450px;
    
}

.time-rangemutual-button {
   
    border: 1px solid #ccc;
    background-color: white;
    color: #686868;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s ease;
    box-shadow: 0 8px 16px rgba(217, 212, 212, 0.853);
   
}

.time-rangemutual-button.active {
    background-color: #22c55e;
    color: white;
    border-color: #22c55e;
}
/* Main container */
.mutualcandletop {
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin-left: 160px;
margin-top: 150px;
    border-radius: 8px;
    width: 1200px;
    margin-bottom: 40px;
 
   
  }
  
  /* Left Section */
  .mutualcandletop__left {
    display: flex;
    flex-direction: column;
  }
  
  .mutualcandletop__title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 50px;
    font-family: 'Calibri';
  }
  
  /* Tags Section */
  .mutualcandletop__tags {
    margin-top: 10px;
    margin-left: -60px;
  }
  
  .mutualcandletop__tag {
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f7f7f7;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s;
  }
  
  .mutualcandletop__tag:hover {
    background-color:#24b676;
    color: white;
  }
  
  /* Right Section */
  .mutualcandletop__right {
    text-align: right;
  }
  
  .mutualcandletop__price {
    margin: 0;
    font-size: 1.4rem;
    font-weight: bold;
    color:#24b676; /* Default green color for positive values */
    font-family: 'calibri';
  }
  
  /* Percentage Styling */
  .mutualcandletop__percentage {
    margin: 5px 0;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: 'calibri';
  }
  
  /* Positive Percentage */
  .mutualcandletop__percentage--positive {
    color: #28a745; /* Green for positive percentages */
    font-family: 'calibri';
  }
  
  /* Negative Percentage */
  .mutualcandletop__percentage--negative {
    color: #dc3545; /* Red for negative percentages */
    font-family: 'calibri';
  }
  
  /* Last Updated Info */
  .mutualcandletop__last-updated {
    margin: 0;
    font-size: 0.8rem;
    color: #666;
    font-family: 'calibri';
  }
  @media (min-width: 2500px) {
    .mutualcandletop {
        display: flex;
        justify-content: space-between;
        align-items: center;
       margin-left: 430px;
    margin-top: 150px;
        border-radius: 8px;
        width: 1680px;
        margin-bottom: 40px;
     
       
      }
  }
  @media (min-width: 1280px) and (max-width: 1535px) {
    .mutualcandletop {
        display: flex;
        justify-content: space-between;
      
        align-items: center;
       margin-left: 120px;
    margin-top: 150px;
        border-radius: 8px;
        width: 1200px;
        margin-bottom: 40px;
     
       
      }
      .mutualcandletop__right {
        margin-right: 20px;
      }
      .portfoliomutual-container {
    font-family: 'calibri';
    padding: 20px;
    color: #333;
    max-width: 650px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex
;
    flex-direction: column-reverse;
    height: 450px;
    margin-left: 80px;
}
  /* Tags Section */
  .mutualcandletop__tags {
    margin-top: 10px;
    margin-left: 0px;
  }
  
  }
  @media (min-width: 1024px) and (max-width: 1279px)  {
    .portfoliomutual-container {
        font-family: 'calibri';
        padding: 20px;
        color: #333;
        max-width: 500px; /* Set a maximum width */
        margin: 0 auto; /* Center the container */
    /* Add left margin to prevent overlap with sidebar */
       margin-left: 10px;
        margin-top: 10px;
    
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        display: flex;
        flex-direction: column-reverse; /* Reverse the container's content */
    
        height: 450px;
    }
    .mutualcandletop__tags {
    margin-top: 10px;
    margin-left: 10px;
}
    .time-rangemutual-selector {
        display: flex;
        gap: 5px;
        margin-bottom: 20px;
        margin-left: 280px;
        
    }
    .mutualcandletop {
        display: flex;
        justify-content: space-between;
      
        align-items: center;
       margin-left: 10px;
    margin-top: 150px;
        border-radius: 8px;
        width: 1200px;
        margin-bottom: 40px;
     
       
      }
      .mutualcandletop__right {
        margin-right: 230px;
      }
    
  }
/* Adjustments for 768px screens */
@media (max-width: 768px) {
    .portfoliomutual-container {
        margin-left: 30px;
        padding: 15px;
       width: 655px;
    }

    .portfoliomutual-welcome {
        font-size: 20px;
        margin-top: 50px;
    }

    .portfoliomutual-subtitle {
        font-size: 14px;
    }

    .portfoliomutual-card {
        padding: 15px;
        margin-top: 15px;
    }

    .portfoliomutual-title {
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: -120px;
    }

    .time-rangemutual-selector {
        justify-content: center;
        gap: 8px;
        margin-left: 500px;
    }

    .time-rangemutual-button {
        padding: 5px 10px;
        font-size: 13px;
    }

    .chartmutual-container {
        height: 350px;
        width: 640px;
    }

    .mutualcandletop {
      margin-left: 40px;
        align-items: center;
        width: 100%; /* Take full width */
        margin-top: 20px;
      
    }

    .mutualcandletop__left, 
    .mutualcandletop__right {
        width: 100%; /* Each section takes full width */
        text-align: center;
    }
    .mutualcandletop__right {
        margin-top: 20px;
         text-align: left;
         margin-right: -170px;
     }
 
    .mutualcandletop__title {
        font-size: 1.2rem;
        text-align: left;
        margin-top: 100px;
    }

       .mutualcandletop__tags {
        margin-top: 20px;
        text-align: left;
        margin-left: 0px;
    }
    .mutualcandletop__price {
        margin: 0;
        font-size: 1.4rem;
        font-weight: bold;
        color:#24b676; /* Default green color for positive values */
        font-family: 'calibri';
        margin-top: 80px;
      
      }
}

@media (max-width: 480px) {
    .portfoliomutual-container {
   
        max-width: 75%; /* or less, like 270px */
        margin: 0 auto; /* center it */
        padding: 20px; /* optional: adjust padding for smaller screens */
        margin-left: 30px;
    }

    .chartmutual-container {
        width: 110%;
      
        height: 320px; /* reduce height if needed */
        margin: 0 auto;
    }

    .time-rangemutual-selector {
        justify-content: center;
        gap: 8px;
        margin-left: 0px;
    }
    .mutualcandletop {
       
       
        margin-top: 15px;
    }

    .mutualcandletop__left, 
    .mutualcandletop__right {
   
        width: 100%;
    }

    .mutualcandletop__title {
        font-size: 1rem;
        text-align: left;
        margin-top: 100px;
    }

    .mutualcandletop__tags {
       margin-top: 20px;
        text-align: left;
        display: flex;
       
    }

    .mutualcandletop__right {
     
        text-align: left;
     margin-right: 50px;
        margin-bottom: -20px;
    }

    .mutualcandletop__price {
        font-size: 15px;
    }

    .mutualcandletop__percentage {
        font-size: 0.8rem;
    }
    .mutualcandletop__tag {
        padding: 5px 5px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #f7f7f7;
        cursor: pointer;
        font-size:12px;
        transition: background-color 0.3s;
    }
}


@media (max-width: 320px) {
    .portfoliomutual-container {
        width: auto;
        max-width: 250px; /* or less, like 270px */
        margin: 0 auto; /* center it */
        padding: 20px; /* optional: adjust padding for smaller screens */
        margin-left: 15px;
    }
    .chartmutual-container {
        width: 100%;
        max-width: 300px;
        height: 320px; /* reduce height if needed */
        margin: 0 auto;
    }
    .mutualcandletop__tag {
        padding: 5px 5px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #f7f7f7;
        cursor: pointer;
        font-size: 10px;
        transition: background-color 0.3s;
    }
}

