.stockNewsContainer {
  font-family: 'calibri';
  margin: 20px auto;
  max-width: 900px;
  color: #333;
  margin-top: 120px;
  margin-bottom: 70px;
}

.stockNewsTitle {
  font-size: 25px;
  color: #000;
 
  
}

/* News List */
.stockNewsList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

/* Individual News Item */
.stockNewsItem {
  display: flex;
  gap: 15px;
  border: 1px solid #eaeaea;
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  transition: box-shadow 0.3s ease-in-out;
  cursor:pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.stockNewsItem:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
background-color:  #f0f0f0;

 
}

.newsThumbnail {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

/* News Content */
.newsContent {
  display: flex;
  flex-direction: column;
  
}

.newsTitle {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0 0 10px 0;
}
.newsTitle:hover{
  color: #24b676;
}

.newsDescription {
  font-size: 14px;
  color: #555;
 
}

/* Highlighted News */
@media (max-width: 768px) {
.stockNewsContainer {
margin-bottom: 100px;
}

  .newsTitle {
    font-size: 16px; /* Adjust font size */
  }

  .newsDescription {
    font-size: 13px; /* Adjust font size */
  }
}

@media (max-width: 480px) {
  .stockNewsContainer {
    margin-top: 130px; /* Adjust top margin for smaller devices */
    padding: 0 10px; /* Adjust padding for very small screens */
  }

  .stockNewsTitle {
    font-size: 20px; /* Reduce title size */
  }

  .stockNewsItem {
    gap: 10px;
    padding: 8px; /* Adjust padding */
  }

  .newsTitle {
    font-size: 15px;
  }

  .newsDescription {
    font-size: 12px;
  }
}