/* Main Container */
.stockNewsContainer {
    font-family: 'calibri';
    margin: 20px auto;
    max-width: 900px;
    color: #333;
  }
  
  .stockNewsTitle {
    font-size: 25px;
    color: #000;
   
    
  }
  
  /* News List */
  .stockNewsList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }
  
  /* Individual News Item */
  .stockNewsItem {
    display: flex;
    gap: 15px;
    border: 1px solid #eaeaea;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .stockNewsItem:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .newsThumbnail {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  /* News Content */
  .newsContent {
    display: flex;
    flex-direction: column;
    
  }
  
  .newsTitle {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 0 0 10px 0;
  }
  
  .newsDescription {
    font-size: 14px;
    color: #555;
   
  }
  
  /* Highlighted News */
 