/* RiskOMeter Wrapper */
.riskometer {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  font-family: 'calibri';


  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 width: 900px;
 border-radius: 10px;
 margin-left: 100px;
 height: 500px;
  
}

.riskometer-title {
  font-size: 24px;
margin-top: 500px;
  color: #333;
  margin-left: 100px;
}

/* SVG Container */
.riskometer svg {
  display: block;
  margin: auto;

}

/* Arcs Styling */
.riskometer path {
  transition: stroke-width 0.3s ease;
}

.riskometer path:hover {
  stroke-width: 40;
  cursor: pointer;
}

/* Text Styling for Risk Labels */
.riskometer text {
  font-size: 14px;
  font-weight: bold;
  fill: #000;

}