.key-indicators-cardd {
    margin-top: 60px;
    width: 1100px;
    height: 340px;
  margin-left: 20px;
    border: 3px solid rgb(244, 240, 240);
    box-shadow: 0 4px 8px rgb(224, 221, 221); /* Adds a soft shadow */
    margin-bottom: 30px;
  }


  @media (min-width: 1024px) and (max-width: 1279px) {


.key-indicators-cardd {
  margin-top: 60px;
  width: 950px;
  height: 340px;
  margin-left: 0px;
  border: 3px solid rgb(244, 240, 240);
  box-shadow: 0 4px 8px rgb(224, 221, 221);
  margin-bottom: 30px;
}
      }
  
  @media (max-width: 768px) {
    .key-indicators-cardd {
      width: 87%;
      height: auto;
      margin-left: 30px;
      margin-right: 10px;
  }
  }
  
  /* Extra small screen view (max-width: 480px) */
  @media (max-width: 480px) {
    .key-indicators-cardd {
      width: 92%; /* Full width for mobile */
      height: auto; /* Auto height for better fitting */
      margin-left: 10px; /* Smaller margin */
      margin-right: 5px; /* Smaller margin */
      margin-bottom: -80px;
    }
  }