.whyfinpersonalreal-containerr{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
   
    background-color: #ffff;
   
    font-family: 'calibri';
    width: 60%;
    margin-left: 300px;
    margin-top: 30px;
}
@media (max-width: 768px) {
    .whyfinpersonalreal-containerr {
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Mobile View (Max Width: 480px) */
@media (max-width: 480px) {
    .whyfinpersonalreal-containerr {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px;
        margin-left: 0;
    }
}  