.login-leftforget {
    flex: 1; /* Increase flex ratio to make it wider */
    display: flex;
    flex-direction: column;
    background-image: 
    url('../../assest/forgot.jpeg'); 
    background-size: cover;
   
    background-repeat: no-repeat;
    background-color: #F2F2FF; /* Fallback color */
    min-width: 58%; /* Ensure it takes more space */

    height: 105vh;
    padding-top: 10px; /* Prevent cropping */

}

.login-container {
    display: flex;
  
   
    overflow-x: hidden;
   
 
}



.logoforgt {
    display: block; /* Ensures proper spacing */
    max-width: 240px; /* Adjust size as needed */
    width: 100%; /* Responsive scaling */
    height: auto; /* Maintain aspect ratio */
    background-color:#f8f6f6;
    margin-top: -10px;
}

.login-boxforget {
    width: 70%;
    max-width: 480px;
    padding: 30px;
    border: 3px solid rgb(228, 220, 220);
    box-shadow: 0 4px 8px rgba(221, 217, 217, 0.823);
    text-align: center;
    border-radius: 50px; /* Added border-radius for rounded corners */

    height: 35%;
    background-color: #ffff;


  }
  .paraforgot{
    font-size: 15px;
    color: black;
    margin-top: -10px;
    margin-bottom: 30px;
  }
  .h2loginpageforgot {
    color: #747474;
    font-weight: bold;
    font-size: 26px;
    text-align:center;
    margin-top: -10px;
 
  }
  .paragraphforgett{
    font-size: 15px;
    color: black;
  }

.input-error {
  border: 2px solid red !important;
  outline: none;
}


.forgeterror-text {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}


.sign-in-btn.inactive {
  
  cursor: not-allowed;
}


.sign-in-btn.active {
  background-color: #24b676 !important;
  color: white;
  cursor: pointer;
}
