.screener-headerniftytab50{
    margin-top: 240px;
}
.tabnifty50-button {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    background: white; /* Default background */
    color: #000; /* Default text color */
    border: 1px solid #333;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.tabnifty50-button.active {
    background: #24b676; /* Active background color */
    color: #fff; /* Active text color */
    font-weight: bold;
    border: 1px solid #24b676;
}
.tabsnifty50-container {
    display: flex;
    margin-bottom: 1rem;
}
/* Highlighted column style */
.active-column {
    /* Highlight color */
    color: #24b676; /* Text color for contrast */
   
  }
  .pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
  }
  
  .pagination-info {
    font-size: 14px;
    color: #555;
  }
  
  .pagination-slider {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .pagination-button {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  .pagination-button:disabled {
    background-color: #eee;
    cursor: not-allowed;
  }
  
  .active-page {
    background-color: #24b676;
    color: #fff;
    border: 1px solid #24b676;
  }
  