.subscribethemestocklocked-overlayyy {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(10px);
    height: 33%;
    margin-top: 220px;

}

  /* Responsive Styles */
@media screen and (max-width: 768px) {
    .subscribethemestocklocked-overlayyy {
        height: 72%;
        margin-top: 210px;
    }
}

@media screen and (max-width: 480px) {
    .subscribethemestocklocked-overlayyy {
        height: 52%;
        margin-top: 210px;
    }
}
