.graphcontainerer{
    width: 150%; 
    margin-left: -10%; 
    padding: 6px;
    font-family: "calibri";
    margin-top: 100px;
    border-radius: 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #fff;

} 
.graphnavbarr {
display: flex;
flex-wrap: wrap;
gap: 25px;
padding-top: 5px;
margin-top: 5px;
margin-left: 280px;
cursor: pointer;
transition: transform 0.3s ease, color 0.3s ease;
}

.graphnavbarr:hover {
cursor: pointer;
}

.graphnavbarr span {
font-size: 15px;
color: #333;
cursor: pointer;
padding: 5px 10px;
border-radius: 4px;
transition: background-color 0.3s;
}

.graphnavbarr span:hover {
color: #24b676;
text-decoration: underline;
text-decoration-color: #24b676;
}

.graphnavbarr a {
font-size: 15px;
color: #333;
padding: 5px 10px;
border-radius: 4px;
text-decoration: none;
background-color: #ffffff;
border: 1px solid transparent;
transition: background-color 0.3s, color 0.3s, border-color 0.3s;
font-weight: 500;
}

.graphnavbarr a:hover {
color: #24b676;
background-color: #e6f4ed;
border-color: #24b676;
}

.graphnavbarr a.active {
color: #ffffff;
background-color: #24b676;
border-color: #24b676;
font-weight: bold;
}
.graphstock-infoo{
margin-left: 300px;
}
.graphnavbar a {
color: #000; /* Default color */
text-decoration: none;
margin: 0 10px; /* Adjust spacing between links */
padding: 5px 10px; /* Add some padding for better clickability */
border-radius: 4px; /* Optional: Add rounded corners */
}

.graphnavbar a:hover {
color: #22c55e; /* Highlight color on hover */
}

.graphnavbar .active-link {
color: #fff; /* Text color for active link */
background-color: #22c55e; /* Green background for active link */
font-weight: bold; /* Make it bold */
}




/* For screens 768px and below */
@media (max-width: 768px) {
.graphcontainer {
  width: 100%; 
  margin-left: 0;
  padding: 10px;
}

.graphheader h1 {
  font-size: 20px;
  margin-left: 0; 
}

.graph-price-update {
  margin-right: 0;
}

.graphnavbar {

  margin-left: 0px;
  margin-right: 40px;
  
}

.graphnavbar span, .graphnavbar a {
  font-size: 14px; 

   
}

.graphprice {
  font-size: 20px; 
}

.graphupdate {
  font-size: 10px; 
}

.graphstock-infoo {
margin-left: 0px;
   
}

.graphnse, .graphsector {
  font-size: 12px; 
  padding: 4px 8px; 
}

.title-container {
  flex-direction: column; 
  align-items: flex-start; 
}

}



/* For screens 768px and below */
@media (max-width: 480px) {
  .graphcontainer {
    width: 98%; 
    margin-left: 0;
  
    
  }
  
  .graphheader h1 {
    font-size: 20px;
    margin-left: 0; 
  }
  
  .graph-price-update {
    
  }
  
  .graphnavbar {
  
    margin-left: 0px;
    margin-right: 40px;
    
  }
  
  .graphnavbar span, .graphnavbar a {
    font-size: 14px; 
  
     
  }
  
  .graphprice {
    font-size: 20px; 
  }
  
  .graphupdate {
    font-size: 10px; 
  }
  
  .graphstock-infoo {
  margin-left: 0px;
     
  }
  
  .graphnse, .graphsector {
    font-size: 12px; 
    padding: 4px 8px; 
  }
  
  .title-container {
    flex-direction: column; 
    align-items: flex-start; 
  }
  
  }
  
  