.login-leftforgetreset {
    flex: 1; /* Increase flex ratio to make it wider */
    display: flex;
    flex-direction: column;
    background-image: 
    url('../assest/reset.jpeg'); 
    background-size: cover;
   
    background-repeat: no-repeat;
    background-color: #F2F2FF; /* Fallback color */
    min-width: 58%; /* Ensure it takes more space */

    height: 105vh;
    padding-top: 10px; /* Prevent cropping */

}

.login-container {
    display: flex;
  
   
    overflow-x: hidden;
   
 
}

.input-containerdarkmode input {
  width: 80%;
  padding: 8px;
  font-size: 14px;
  border: 2px solid #898989;
  border-radius: 5px;
  margin-left: 40px;
  color: white;          /* Set the text color to white */
  background-color: #292F42;  /* Optional: match the dark background */
}



.forgtreset {
    display: block; /* Ensures proper spacing */
    max-width: 240px; /* Adjust size as needed */
    width: 100%; /* Responsive scaling */
    height: auto; /* Maintain aspect ratio */
    background-color:#f8f6f6;
    margin-top: -10px;
}

.login-boxforgetcontain{
    width: 70%;
    max-width: 480px;
    padding: 30px;
    border: 3px solid rgb(228, 220, 220);
    box-shadow: 0 4px 8px rgba(221, 217, 217, 0.823);
    text-align: center;
    border-radius: 50px; /* Added border-radius for rounded corners */

    height: 65%;
    background-color: #ffff;


  }
  .resetpasswordrule{
    background-color: rgba(0, 74, 173, 0.09);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  .resetpasswordrule ul {
    margin: 0;
    padding-left: 20px;
  }
  
  .paraforgot{
    font-size: 15px;
    color: black;
    margin-top: -10px;
    margin-bottom: 30px;
  }
  .h2loginpageforgot {
    color: #747474;
    font-weight: bold;
    font-size: 26px;
    text-align:center;
    margin-top: -10px;
 
  }
  .paragraphforgett{
    font-size: 15px;
    color: black;
  }

.input-error {
  border: 2px solid red !important;
  outline: none;
}


.forgeterror-text {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: block;
 
}
.forgeterror-textdarkmode{
  margin-left: 40px;
}

.sign-in-btn.inactive {
  
  cursor: not-allowed;
}


.sign-in-btn.active {
  background-color: #24b676 !important;
  color: white;
  cursor: pointer;
}



  

  .input-groupreset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   margin-bottom: 20px;
  }
  

  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 10px;
  }
  

  

  
 
  

  .submit-buttonresetpas{
    width: 100%;
    padding: 10px;
    background:rgb(177, 173, 173);
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .submit-buttonresetpas:hover{
    background:#24b676;
  }
 
  
  .error-border {
    border: 1px solid red !important;
  }
  .resetpasswordrule p{
    text-align: left;
  }
  .resetpasswordrule li{
text-align: left;
  }
  @media (max-width: 480px) {
    .login-leftforgetreset {
      flex: 1; /* Increase flex ratio to make it wider */
      display: flex;
      flex-direction: column;
      background-image: 
      url('../assest/reset.jpeg'); 
      background-size: cover;
     
      background-repeat: no-repeat;
      background-color: #F2F2FF; /* Fallback color */
      min-width: 58%; /* Ensure it takes more space */
  
      height: 105vh;
      padding-top: 10px; /* Prevent cropping */
  
  }
  
  .login-container {
      display: flex;
    
     
      overflow-x: hidden;
     
   
  }
  
  
  
  .forgtreset {
      display: block; /* Ensures proper spacing */
      max-width: 240px; /* Adjust size as needed */
      width: 100%; /* Responsive scaling */
      height: auto; /* Maintain aspect ratio */
      background-color:#f8f6f6;
      margin-top: -10px;
  }
  
  .login-boxforgetcontain{
      width: auto;
     
      padding: 30px;
      border: 3px solid rgb(228, 220, 220);
      box-shadow: 0 4px 8px rgba(221, 217, 217, 0.823);
      text-align: center;
      border-radius: 50px; /* Added border-radius for rounded corners */
  
      height: 65%;
      background-color: #ffff;
  
  
    }
    .resetpasswordrule{
      background-color: rgba(0, 74, 173, 0.09);
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 10px;
      margin-bottom: 20px;
      margin-top: 10px;
    }
    
    .resetpasswordrule ul {
      margin: 0;
      padding-left: 20px;
    }
    
    .paraforgot{
      font-size: 15px;
      color: black;
      margin-top: -10px;
      margin-bottom: 30px;
    }
    .h2loginpageforgot {
      color: #747474;
      font-weight: bold;
      font-size: 26px;
      text-align:center;
      margin-top: -10px;
   
    }
    .paragraphforgett{
      font-size: 15px;
      color: black;
    }
  
  .input-error {
    border: 2px solid red !important;
    outline: none;
  }
  
  
  .forgeterror-text {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: block;
   
  }
  
  
  .sign-in-btn.inactive {
    
    cursor: not-allowed;
  }
  
  
  .sign-in-btn.active {
    background-color: #24b676 !important;
    color: white;
    cursor: pointer;
  }
  
  
  
    
  
    .input-groupreset {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
     margin-bottom: 20px;
    }
    
  
    .input-field {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
    }
    
    .forgeterror-textdarkmode{
      margin-left: 10px;
    }
    
  
    
   
    
  
    .submit-buttonresetpas{
      width: 100%;
      padding: 10px;
      background:rgb(177, 173, 173);
      border: none;
      color: white;
      font-size: 1rem;
      border-radius: 20px;
      cursor: pointer;
      margin-bottom: 10px;
    }
    .submit-buttonresetpas:hover{
      background:#24b676;
    }
   
    
    .error-border {
      border: 1px solid red !important;
    }
    .resetpasswordrule p{
      text-align: left;
    }
    .resetpasswordrule li{
  text-align: left;
    } 
  }
  
