.whoweare {
    font-family: 'calibri';
width: 900px;
margin-left: 250px;
line-height: 1.6;
    
  }
  

  .whoweare-key-points ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .whoweare-key-points li {
    margin-bottom: 10px;
  }

  
  .whoweare-approach,
  .whoweare-team {
    flex: 1;
  }
  
  .whoweare-call-to-action {
    
    margin-top: 30px;
  }
  .whoweare-intro h1{
    margin-left: 340px;
    color: #24b676;
    margin-top: 120px;
    font-size: 26px;
  }
  .imgwhoweare{
    border-radius: 10px;
    height: 250px;
    width: 550px;
    margin-left: 150px;
  }
  
  .whoweare-intro p{
 font-size: 15px;
 color: black;
  }
  .whoweare-mission h2,
  .whoweare-vision h2 ,.whoweare-key-points h2 ,.whoweare-approach h2 ,.whoweare-team h2,.whoweare-call-to-action h2{

    color: #0d64bb;
font-size: 24px;
  }
  .whoweare-mission p , .whoweare-vision p ,.whoweare-approach p ,.whoweare-team p,.whoweare-call-to-action p, .whoweare-intro p{

    color: black;
font-size: 15px;
  }
  .whoweare-key-points ul{
    font-size: 15px;
  }
  .whoweare-call-to-action h4{
    font-size: 24px;
    color: #24b676;
    margin-bottom: 100px;
  }

  @media (max-width: 768px) {
    .whoweare {
        font-family: 'calibri';
    width: 900px;
    margin-left: 0px;
        
      }
      
    
      .whoweare-key-points ul {
        list-style-type: disc;
        padding-left: 20px;
      }
      
      .whoweare-key-points li {
        margin-bottom: 10px;
      }
    
      
      .whoweare-approach,
      .whoweare-team {
        flex: 1;
      }
      
      .whoweare-call-to-action {
        
        margin-top: 30px;
      }
      .whoweare-intro h1{
        margin-left: 170px;
        color: #24b676;
        margin-top: 120px;
        font-size: 24px;
      }
      .imgwhoweare{
        border-radius: 10px;
        height: 250px;
        width: 400px;
        margin-left: 15px;
      }
      
      .whoweare-intro p{
     font-size: 15px;
     color: black;
      }
      .whoweare-mission h2,
      .whoweare-vision h2 ,.whoweare-key-points h2 ,.whoweare-approach h2 ,.whoweare-team h2,.whoweare-call-to-action h2{
    margin-left: 10px;
        color: #0d64bb;
    font-size: 22px;
      }
      .whoweare-mission p , .whoweare-vision p ,.whoweare-approach p ,.whoweare-team p,.whoweare-call-to-action p, .whoweare-intro p{
    
        color: black;
    font-size: 15px;
    width: 450px;
    margin-left: 10px;
      }
      .whoweare-key-points ul{
        font-size: 15px;
        width: 450px;
      }
      .whoweare-call-to-action h4{
        font-size: 22px;
        color: #24b676;
        margin-bottom: 100px;
      }
  }

  
  @media (max-width: 480px) {
    .whoweare {
        font-family: 'calibri';
    width: 900px;
    margin-left: 0px;
        
      }
      
    
      .whoweare-key-points ul {
        list-style-type: disc;
        padding-left: 20px;
      }
      
      .whoweare-key-points li {
        margin-bottom: 10px;
      }
    
      
      .whoweare-approach,
      .whoweare-team {
        flex: 1;
      }
      
      .whoweare-call-to-action {
        
        margin-top: 30px;
      }
      .whoweare-intro h1{
        margin-left: 150px;
        color: #24b676;
        margin-top: 120px;
        font-size: 24px;
      }
      .imgwhoweare{
        border-radius: 10px;
        height: 250px;
        width: 400px;
        margin-left: 15px;
      }
      
      .whoweare-intro p{
     font-size: 15px;
     color: black;
      }
      .whoweare-mission h2,
      .whoweare-vision h2 ,.whoweare-key-points h2 ,.whoweare-approach h2 ,.whoweare-team h2,.whoweare-call-to-action h2{
    margin-left: 10px;
        color: #0d64bb;
    font-size: 22px;
      }
      .whoweare-mission p , .whoweare-vision p ,.whoweare-approach p ,.whoweare-team p,.whoweare-call-to-action p, .whoweare-intro p{
    
        color: black;
    font-size: 15px;
    width: 400px;
    margin-left: 10px;
      }
      .whoweare-key-points ul{
        font-size: 15px;
        width: 400px;
      }
      .whoweare-call-to-action h4{
        font-size: 18px;
        color: #24b676;
        margin-bottom: 100px;
        width: 450px;
        margin-left: 10px;
      }
  }
