
  
 /* Duration Input */
 .cagr-input-roww {
    display: flex;
gap: 230px;
    width: 500px;
  
  }
  .suffixdura {
    margin-left: 8px;
    font-size: 14px;
  }
   .cagr-resultt {
    text-align: center;
    margin-top: 30px;
  height: 45px;
    border: 1px solid #24b676;
    border-radius: 20px;
    background-color: #24b676;
    font-weight: bold;
    font-size: 15px;
    width: 40%;
  color: white;
    margin-left: 100px;
  }
  @media (max-width: 768px) {
    
  
 /* Duration Input */
 .cagr-input-roww {
    display: flex;
gap: 137px;
    width: 400px;
  
  }
  .suffixdura {
    margin-left: 8px;
    font-size: 14px;
  }
   .cagr-resultt {
    text-align: center;
    margin-top: 30px;
  height: 45px;
    border: 1px solid #24b676;
    border-radius: 20px;
    background-color: #24b676;
    font-weight: bold;
    font-size: 15px;
    width: 45%;
  color: white;
    margin-left: 100px;
  }
  }

  @media (max-width: 480px) {
    
  
    /* Duration Input */
    .cagr-input-roww {
       display: flex;
   gap: 35px;
       width: 300px;
     
     }
     .suffixdura {
       margin-left: 8px;
       font-size: 14px;
     }
      .cagr-resultt {
       text-align: center;
       margin-top: 30px;
     height: 45px;
       border: 1px solid #24b676;
       border-radius: 20px;
       background-color: #24b676;
       font-weight: bold;
       font-size: 15px;
       width: 60%;
     color: white;
       margin-left: 50px;
     }
     }