.landingpageadvantagedarkcontainer {
    text-align: center;
    padding: 20px;
    font-family: 'calibri';
    background-color: #292F42;
  }
  
  .landingpageadvantagedarktitle {
    font-size: 22px;
    font-weight: bold;
    color: #ffff;
    margin-bottom: 20px;
  }
  
  
  /* Tablet View - max-width: 768px */
@media (max-width: 768px) {
  
  .landingpageadvantagedarktitle {
      font-size: 20px; /* Adjust title size for tablets */
  }
}

/* Mobile View - max-width: 480px */
@media (max-width: 480px) {
  
  .landingpageadvantagedarktitle {
      font-size: 20px; /* Adjust title size for smaller screens */
  }
}