
    

.screenerheader{
    font-size: 17px;
    margin-left: 160px;
    margin-top: 50px;
    font-family: 'calibri';

}
.screenerheadercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'calibri';
}
.screenerheaderexplorebtn {
    color: #24b676;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-right: 110px;
    margin-top: 50px;
}
  .screenertablenifty{
    width: 82%;
    border-collapse: collapse;
    margin-left: 160px;
    font-family: 'calibri';
    
   
  }
  
  .screenertablenifty th,
  .screenertablenifty td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .screenertablenifty th {
    background-color: #f9f9f9;
    color: #333;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #24b676; /* Border color for bottom */
    border-top: 1px solid #24b676; /* Border color for top */
    box-shadow: 0 4px 6px #24b676; /* Adds subtle shadow */
    
   
    /* No left or right borders by default */
  }
  .screenertablenifty th:first-child {
    border-left: 1px solid #24b676; /* Left border for first column */
    
  
   
  }
  
  .screenertablenifty th:last-child {
    border-right: 1px solid #24b676; /* Right border for last column */
   
    
  
  }
  
  .screenertablenifty th:not(:first-child):not(:last-child) {
    border-left: none;  /* No left border for middle columns */
    border-right: none; /* No right border for middle columns */
  }
  
  
  /* Mobile View for 768px */
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  
  .screenercontainer{
    width: 100%;
    padding: 0 15px;
    
    margin-left: -10px;
  }
  .screenerheadercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.screenerheader{
  font-size: 18px;
  margin-left: 15px;
  margin-top: 50px;

}
  .screenerheaderexplorebtn {
      font-size: 14px;
      margin-right: 30px;
      margin-top: 30px;
  }

  .screenertablenifty {
      width: 100%;
      margin-left: 20px;
  }

  .screenertablenifty th,
  .screenertablenifty td {
      padding: 8px;
  }
  .screenertablenifty td {
    word-wrap: break-word;
        white-space: normal;
        text-align: left;
        width: 150px;
    
  }

  .screenertablenifty th {
      font-size: 14px;
      padding: 8px;
  }
}

/* Mobile View for 480px */
@media (max-width: 480px) {
  .screenercontainer{
    width: 78%;
    padding: 0 15px;
    
    margin-left: -10px;
  }
  .screenerheadercontainer {
    display: flex;
  
    align-items: center;
}
.screenerheader{
  font-size: 12px;
  margin-left: 15px;
  margin-top: 50px;

}
.screenerheaderexplorebtn {
  font-size: 12px;
  margin-right: -70px;
  margin-top: 40px;
}

  .screenertablenifty {
      width: 100%;
      margin-left: 20px;
  }

  .screenertablenifty th,
  .screenertablenifty td {
      padding: 8px;
  }
  .screenertablenifty td {
    word-wrap: break-word;
        white-space: normal;
        text-align: left;
        width: 150px;
    
  }

  .screenertablenifty th {
      font-size: 14px;
      padding: 8px;
  }
}
  
  