.goalplanner-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 70px;
    font-family: 'calibri';
    width: 1020px;
    margin-left: 150px;
    margin-bottom: 120px;
  }
  
  .goalplanner-left {
    flex: 1;
    background: white;
 
 
  }

  .icon-backcar {
    display: flex; /* Align items in a row */
    align-items: center; /* Center the icon and text vertically */
    font-size: 24px; /* Adjust the font size */
    margin-top: 130px;
    margin-left: 10px;
    cursor: pointer;
    color: black;
  }
  
  .icon-backcar:hover{
    color: #24b676;
  }
  
  .cargoalplaneerall{
    display: flex;
    gap: 30px;
    margin-left: 30px;
  }
  .goalplanner-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .goalplanner-image-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }
  

  .goalplanner-imagecar{
    max-width: 20%;
    height:50px;
    margin-left: 382px;
  }
  .goalplanner-image {
    max-width: 90%;
    height:300px;
    border-radius: 10px;
  }
  .cargoalplaneerall p{
    font-size: 15px;
  }
  .cargoalplaneerall h3{
    font-size: 16px;
   
  }
  .costtopcargoal {
    display: flex; /* Use flexbox layout */
   justify-content: space-between;
    align-items: center; /* Center align items vertically */
    margin-bottom: 5px; /* Optional: space between this and other sections */
  }
  
  .cargoalparacost p {
    border: 2px solid #ccc; /* Add border */
    padding: 5px 10px; /* Add some padding for better visibility */
    border-radius: 5px; /* Optional: rounded corners */
    font-size: 16px; /* Optional: adjust font size */
    width: 100px;
  }
  
  .goalplanner-results {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .goalplanner-result {
    background: #24b676;
  
    border-radius: 8px;
    text-align: center;
    width: 200px;
    color: white;
  }
  
  .goalplanner-right {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 25px;
    border: 3px solid rgb(206, 229, 246);
    box-shadow: 0px 4px 6px  rgb(206, 229, 246);
    width: 180px; /* Decreased width */
  
  }
  
  
  .goalplanner-subtitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
margin-left: -100px;
    font-family: 'calibri';
    margin-top: -15px;
  
  }
  
  .goalplanner-description {
    font-size: 15px;
    color: #555;
    text-align: center;
   margin-left: -100px;
    margin-bottom: 20px;
    font-family: 'calibri';
  }
  
  .goalplanner-slider-group {
    margin-bottom: 5px;
  }
  
  .goalplanner-slider-group label {
    display: block;
    font-size: 16px;
   
    margin-bottom: 5px;
  }
  
  .goalplanner-slider {
    width: 100%;
   
  }
  
  .goalplanner-actions {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
  }
  
 
  
  .goalplanner-buttoncalculate {
    background-color: #24b676;
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 150px;
  }
  
  .goalplanner-buttoninvest {
    background-color: #d71c2f;
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 150px;
  }
  
  .goalplanner-buttoncalculate:hover{
    background-color: #29c481;

  }
  .goalplanner-buttoninvest:hover{
    background-color: #dd3a4a;
  }
  .goalplanner-title{
    font-size: 25px;
    
  }
  .goalplanner-titleallcar{
    font-size: 25px;
    display: none;
  }
 
  
  @media (max-width: 768px) {
    .goalplanner-container {
      display: flex;
      flex-direction: column; /* Stack elements vertically */
      justify-content: space-between;
      align-items: flex-start;
      padding: 20px;
      gap: 50px;
      font-family: 'calibri';
      width: 1020px;
      margin-left: 0px;
      margin-bottom: 10px;
    }
  
    /* Ensure goalplanner-right appears first */
    .goalplanner-right {
      flex: 1;
      background: white;
      padding: 20px;
      border-radius: 10px;
      border: 3px solid rgb(206, 229, 246);
      box-shadow: 0px 4px 6px  rgb(206, 229, 246);
      width: 380px;
      order: 2; /* Ensure this appears first */
    }
  
    /* Ensure goalplanner-left appears second */
    .goalplanner-left {
      flex: 1;
      background: white;
      order: 3; /* Ensure this appears second */
      margin-left: -30px;
    }
  
    .icon-backcar {
      display: flex;
      align-items: center;
      font-size: 24px;
      margin-top: 130px;
      margin-left: 10px;
      cursor: pointer;
      color: black;
    }
  
    .icon-backcar:hover {
      color: #24b676;
    }
  
    .goalplanner-title {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      margin-left: 20px;
      order: 1
    }
  
    .goalplanner-image-container {
      display: flex;
      margin-left: -20px;
      justify-content: center;
      display: none;
    }
  
    .goalplanner-imagecar {
      max-width: 20%;
      height: 50px;
      margin-left: 324px;
    }
  
    .goalplanner-image {
      max-width: 50%;
      height: 300px;
      border-radius: 10px;
    }
  
    .cargoalplaneerall p {
      font-size: 15px;
    }
  
    .cargoalplaneerall h3 {
      font-size: 16px;
    }
  
    .costtopcargoal {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
  
    }
  
    .cargoalparacost p {
      border: 2px solid #ccc;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 16px;
      width: 100px;
    }
  
    .goalplanner-results {
      display: flex;
      flex-direction: column;
      gap: 0px;
    }
  
    .goalplanner-result {
      background: #24b676;
      border-radius: 8px;
      text-align: center;
      width: 200px;
      color: white;
    }
  
    .goalplanner-subtitle {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      margin-left: -10px;
      font-family: 'calibri';
     margin-top: 10px;
    }
  
    .goalplanner-description {
      font-size: 15px;
      color: #555;
      text-align: center;
      margin-left: 0px;
      margin-bottom: 20px;
      font-family: 'calibri';
    }
  
    .goalplanner-slider-group {
      margin-bottom: 5px;
    }
  
    .goalplanner-slider-group label {
      display: block;
      font-size: 16px;
      margin-bottom: 5px;
    }
  
    .goalplanner-slider {
      width: 100%;
    }
  
    .goalplanner-actions {
      display: flex;
      gap: 10px;
      margin-top: 20px;
      justify-content: center;
    }
  
    .goalplanner-buttoncalculate {
      background-color: #24b676;
      padding: 10px;
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      width: 150px;
    }
  
    .goalplanner-buttoninvest {
      background-color: #d71c2f;
      padding: 10px;
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      width: 150px;
    }
  
    .goalplanner-buttoncalculate:hover {
      background-color: #29c481;
    }
  
    .goalplanner-buttoninvest:hover {
      background-color: #dd3a4a;
    }
  
    .goalplanner-title {
      font-size: 26px;
      display: none;
    }
    .goalplanner-titleallcar {
      font-size: 24px;
      display: block; /* Make it visible in mobile view */
      font-family: 'calibri';
      margin-left: 150px;
      margin-bottom: 0px;
    }
  }
  


  @media (max-width: 480px) {
    /* Stop horizontal scrolling */
    html, body {
      overflow-x: hidden; /* Apply to both html and body */
    /* Ensure no horizontal overflow */
    }
  
    .goalplanner-container {
      display: flex;
      flex-direction: column; /* Stack elements vertically */
      justify-content: space-between;
      align-items: flex-start;
      padding: 20px;
      gap: 50px;
      font-family: 'calibri';
      width: 78%; /* Use full width to avoid overflow */
      max-width: 90%; /* Ensure content fits inside the screen */
      margin-left: 0px;
      margin-bottom: 10px;
    }
  
    .goalplanner-right {
      flex: 1;
      background: white;
      padding: 20px;
      border-radius: 10px;
      border: 3px solid rgb(206, 229, 246);
      box-shadow: 0px 4px 6px  rgb(206, 229, 246);
      width: 100%; /* Ensure it takes full width */
      order: 2; /* Ensure this appears first */
    }
  
    .goalplanner-left {
      flex: 1;
      background: white;
      order: 3; /* Ensure this appears second */
      margin-left: -30px;
      width: 123%; /* Ensure it takes full width */
    }
  
    .goalplanner-title {
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      margin-left: 20px;
      order: 1;
    }
  
    .goalplanner-titleallcar {
      font-size: 24px;
      display: block; /* Make it visible in mobile view */
      font-family: 'calibri';
      margin-left: 140px; /* Adjusted to fit mobile view */
      margin-bottom: -10px; /* Added space below */
    }
  
    .goalplanner-image-container {
      display: flex;
      justify-content: center;
      display: none;
    }
  
    .goalplanner-imagecar {
      max-width: 30%;
      height: 50px;
      margin-left: 224px;
    }
  
    .goalplanner-image {
      max-width: 50%;
      height: 300px;
      border-radius: 10px;
    }
  
    .cargoalplaneerall p {
    
      font-size: 12px;
    }
  
    .cargoalplaneerall h3 {
      font-size: 14px;
      margin-top: -5px;
      text-align: center;
    }
  
    .costtopcargoal {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
    }
  
    .cargoalparacost p {
      border: 2px solid #ccc;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 16px;
      width: 100px;
    }
  
    .goalplanner-results {
      display: flex;
      flex-direction: column;
      gap: 0px;

    }
  
    .goalplanner-result {
      background: #24b676;
      border-radius: 8px;
      text-align: center;
      width: 230px; /* Decrease width if necessary */
      
      /* Reduced height */
      color: white;
    }
    
  
    .goalplanner-subtitle {
      font-size: 17px;
      font-weight: bold;
      text-align: center;
      margin-left: -10px;
      font-family: 'calibri';
      color: black;
    }
  
    .goalplanner-description {
      font-size: 15px;
      color:black;
      text-align: center;
      margin-left: 0px;
      margin-bottom: 20px;
      font-family: 'calibri';
    }
  
    .goalplanner-slider-group {
      margin-bottom: 5px;
    }
  
    .goalplanner-slider-group label {
      display: block;
      font-size: 16px;
      margin-bottom: 5px;
    }
  
    .goalplanner-slider {
      width: 100%;
    }
  
    .goalplanner-actions {
      display: flex;
      gap: 10px;
      margin-top: 20px;
      justify-content: center;
    }
  
    .goalplanner-buttoncalculate {
      background-color: #24b676;
      padding: 10px;
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      width: 150px;
    }
  
    .goalplanner-buttoninvest {
      background-color: #d71c2f;
      padding: 10px;
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      width: 150px;
    }
  
    .goalplanner-buttoncalculate:hover {
      background-color: #29c481;
    }
  
    .goalplanner-buttoninvest:hover {
      background-color: #dd3a4a;
    }
    
  .cargoalplaneerall{
    display: flex;
 
    gap: 10px;

  }
  .icon-backcar {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-top: 100px;
    margin-left: 10px;
    cursor: pointer;
    color: black;
  }

  }
  