.datetimeipo {
    display: flex;
    
    gap: 25px;
    margin-top: 10px;
  }
  
  .ipopara {
    display: flex;
    align-items: center;
    font-size: 14px;
    color:black;
    margin: 0;
  }
  
  .dateipo, .profileipo {
    margin-right: 5px;
    font-size: 16px;
    color:black; /* Icon color (adjust as needed) */
  }
  
  .dotipo {
    margin-left: 5px;
    font-size: 12px;
    color:green; /* Dot icon color (adjust as needed) */
  }