.termConditionPagedarkmode {

    font-family: 'calibri';
margin-left: -10px;
    background-color: #292F42;
    margin-right: -10px;

  }
  
  /* General Styling for Title and Date */
  .termConditionTitledarkmode {
    font-size: 26px;
    font-weight: bold;
margin-left: 300px;
margin-top: 105px;
color: white;
  }
  
  .termConditionIntrodarkmode a{
    font-size: 15px;
    color: #24b676;
  }
  .termConditionDatedarkmode {
    font-size: 14px; /* Sets the font size */
    color: white; /* Text color */
    margin-bottom: 20px; /* Adds space below the line */
    display: flex; /* Aligns items horizontally */
    align-items: center; /* Aligns icons and text vertically */
    gap: 5px; /* Adds space between the icons and text */
    margin-left: 300px;
  }
  
  .termcalendericondarkmode {
    font-size: 16px; /* Size of the calendar icon */
    color:white; /* Color for the calendar icon */
    margin-right: 5px; /* Adds space to the right of the calendar icon */
  
  }
  
  .termdoticon {
    font-size: 30px; /* Size of the dot icon */
    color:#24b676; /* Color for the dot icon */
    margin-left: 5px; /* Adds space to the left of the dot icon */
  }
  
  
  .conditionimntrodarkmode{
    width: 950px;
    margin-left: 200px;
    background-color: #3B3F4F;
    padding: 20px;
    color: white;

  }
  /* Styling for Image */
  .termConditionImagedarkmode {
    width: 55%;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-left: 290px;
  }
  
  /* Intro Paragraph */
  .termConditionIntrodarkmode {
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  /* Container for Sections */
  .termConditionSectionsdarkmode {
    display: flex; /* Flex layout for titles and paragraphs */
    flex-direction: row; /* Columns layout */
    gap: 20px; /* Space between columns */
    margin-top: 20px;
    margin-bottom: 100px;
  }
  
  /* Column for Titles */
  .termConditionTitlesColumndarkmode {
    flex: 1; /* Occupies equal space */
    display: flex;
    flex-direction: column; /* Arranges titles vertically */
    gap: 10px; /* Space between titles */
    background-color: #292F42;
   
  }
  
  .termConditionSectionTitledarkmode {
    font-size: 16px;
    font-weight: bold;
    color: #24b676;

    padding: 10px;
    border-radius: 5px;
    height: 100px;
  }
  
  /* Column for Paragraphs */
  .termConditionTextsColumndarkmode {
    flex: 2; /* Occupies more space than titles */
    display: flex;
    flex-direction: column; /* Arranges paragraphs vertically */
    gap: 32px; /* Space between paragraphs */
  }
  
  .termConditionTextdarkmode {
    font-size: 15px;
    color: white;
    margin: 0;
   
    padding: 10px;
    line-height: 1.6;
   
    border-radius: 5px;
  }
  
  .termConditionTextdarkmode a{
    color: #24b676;
  }
  @media (max-width: 768px) {
    .termConditionPage {
   
        font-family: 'calibri';
        margin-left: 0px;
      }
      
      /* General Styling for Title and Date */
      .termConditionTitle {
        font-size: 24px;
        font-weight: bold;
    margin-left: 10px;
    margin-top: 130px;
      }
      
      .termConditionIntro a{
        font-size: 15px;
        color: #0d64bb;
      }
      .termConditionDate {
        font-size: 14px; /* Sets the font size */
        color: rgb(61, 59, 59); /* Text color */
        margin-bottom: 20px; /* Adds space below the line */
        display: flex; /* Aligns items horizontally */
        align-items: center; /* Aligns icons and text vertically */
        gap: 5px; /* Adds space between the icons and text */
        margin-left: 10px;
      }
      
      .termcalendericon {
        font-size: 16px; /* Size of the calendar icon */
        color: black; /* Color for the calendar icon */
        margin-right: 5px; /* Adds space to the right of the calendar icon */
      
      }
      
      .termdoticon {
        font-size: 30px; /* Size of the dot icon */
        color:#24b676; /* Color for the dot icon */
        margin-left: 5px; /* Adds space to the left of the dot icon */
      }
      
      
      /* Styling for Image */
      .termConditionImage {
        width: 55%;
        margin-bottom: 20px;
        border-radius: 5px;
      }
      
      /* Intro Paragraph */
      .termConditionIntro {
        font-size: 15px;
        margin-bottom: 20px;
        line-height: 1.6;
        width: 450px;
        margin-left: 10px;
      }
      
      /* Container for Sections */
      .termConditionSections {
        display: flex; /* Flex layout for titles and paragraphs */
        flex-direction: row; /* Columns layout */
        gap: 20px; /* Space between columns */
        margin-top: 20px;
        margin-bottom: 100px;
        width: 450px;
      }
      
      /* Column for Titles */
      .termConditionTitlesColumn {
        flex: 1; /* Occupies equal space */
        display: flex;
        flex-direction: column; /* Arranges titles vertically */
        gap: 95px; /* Space between titles */
        background-color: #cbeadd;
       
      }
      
      .termConditionSectionTitle {
        font-size: 16px;
        font-weight: bold;
        color: #24b676;
    
        padding: 10px;
        border-radius: 5px;
     
      }
      
      /* Column for Paragraphs */
      .termConditionTextsColumn {
        flex: 2; /* Occupies more space than titles */
        display: flex;
        flex-direction: column; /* Arranges paragraphs vertically */
        gap: 10px; /* Space between paragraphs */
      }
      
      .termConditionText {
        font-size: 15px;
        color: black;
        margin: 0;
        background-color: #ffffff;
        padding: 10px;
        line-height: 1.6;
       
        border-radius: 5px;
      }
      
      .termConditionText a{
        color: #0d64bb;
      }
  }
  @media (max-width: 480px) {
    .termConditionPage {
   
        font-family: 'calibri';
        margin-left: 0px;
      }
      
      /* General Styling for Title and Date */
      .termConditionTitle {
        font-size: 24px;
        font-weight: bold;
    margin-left: 10px;
    margin-top: 130px;
      }
      
      .termConditionIntro a{
        font-size: 15px;
        color: #0d64bb;
      }
      .termConditionDate {
        font-size: 14px; /* Sets the font size */
        color: rgb(61, 59, 59); /* Text color */
        margin-bottom: 20px; /* Adds space below the line */
        display: flex; /* Aligns items horizontally */
        align-items: center; /* Aligns icons and text vertically */
        gap: 5px; /* Adds space between the icons and text */
        margin-left: 10px;
      }
      
      .termcalendericon {
        font-size: 16px; /* Size of the calendar icon */
        color: black; /* Color for the calendar icon */
        margin-right: 5px; /* Adds space to the right of the calendar icon */
      
      }
      
      .termdoticon {
        font-size: 30px; /* Size of the dot icon */
        color:#24b676; /* Color for the dot icon */
        margin-left: 5px; /* Adds space to the left of the dot icon */
      }
      
      
      /* Styling for Image */
      .termConditionImage {
        width: 55%;
        margin-bottom: 20px;
        border-radius: 5px;
      }
      
      /* Intro Paragraph */
      .termConditionIntro {
        font-size: 15px;
        margin-bottom: 20px;
        line-height: 1.6;
        width: 450px;
        margin-left: 10px;
      }
      
      /* Container for Sections */
      .termConditionSections {
        display: flex; /* Flex layout for titles and paragraphs */
        flex-direction: row; /* Columns layout */
        gap: 20px; /* Space between columns */
        margin-top: 20px;
        margin-bottom: 100px;
        width: 450px;
      }
      
      /* Column for Titles */
      .termConditionTitlesColumn {
        flex: 1; /* Occupies equal space */
        display: flex;
        flex-direction: column; /* Arranges titles vertically */
        gap: 95px; /* Space between titles */
        background-color: #cbeadd;
       
      }
      
      .termConditionSectionTitle {
        font-size: 16px;
        font-weight: bold;
        color: #24b676;
    
        padding: 10px;
        border-radius: 5px;
     
      }
      
      /* Column for Paragraphs */
      .termConditionTextsColumn {
        flex: 2; /* Occupies more space than titles */
        display: flex;
        flex-direction: column; /* Arranges paragraphs vertically */
        gap: 10px; /* Space between paragraphs */
      }
      
      .termConditionText {
        font-size: 15px;
        color: black;
        margin: 0;
        background-color: #ffffff;
        padding: 10px;
        line-height: 1.6;
       
        border-radius: 5px;
      }
      
      .termConditionText a{
        color: #0d64bb;
      }
  }