.circlechart-wrapper {
  max-width: 100%;
  padding: 10px;
  border: 1px solid rgb(214, 211, 211);
  box-shadow: 0 4px 12px rgb(223, 217, 217); /* clean soft shadow */
  border-radius: 8px; /* optional for smoother edges */
  background-color: #fff; /* optional for better contrast */
  height: 240px;
  margin-top: -10px;
}

.circleearning {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.circlechartheader{

}
.circledataearning {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  margin-top: 70px;
  align-items: flex-start; /* This aligns items to the left */
  text-align: left;         /* Ensures text aligns left */
}

.legend-item {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Extra safety */
}

.legend-color-box {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border-radius: 2px;
}

.valueper {
  color: #333;
  font-weight: 500;
  white-space: nowrap;
}

@media (min-width: 1024px) and (max-width: 1279px)  {
  .circlechart-wrapper {
    max-width: 100%;
    padding: 10px;
    border: 1px solid rgb(214, 211, 211);
    box-shadow: 0 4px 12px rgb(223, 217, 217); /* clean soft shadow */
    border-radius: 8px; /* optional for smoother edges */
    background-color: #fff; /* optional for better contrast */
    height: 280px;
    margin-top: -10px;
  }
  
  .circleearning {
    display: flex;
    flex-direction: row;

   
    flex-wrap: wrap;
    gap: 0px;
  }
  
  .circlechartheader{
  
  }
  .circledataearning {
  
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    margin-top: 70px;
    align-items: flex-start; /* This aligns items to the left */
    text-align: left;         /* Ensures text aligns left */
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Extra safety */
  }
  
  .legend-color-box {
    width: 15px;
    height: 15px;
    margin-right: 8px;
    border-radius: 2px;
  }
  
  .valueper {
    color: #333;
    font-weight: 500;
    white-space: nowrap;
  }
}
/* Mobile responsive */
@media (max-width: 480px) {
  .circlechart-wrapper {
    max-width: 100%;
    padding: 10px;
    border: 1px solid rgb(214, 211, 211);
    box-shadow: 0 4px 12px rgb(223, 217, 217); /* clean soft shadow */
    border-radius: 8px; /* optional for smoother edges */
    background-color: #fff; /* optional for better contrast */
    height: 370px;
    margin-top: -10px;
  }
  .circleearning {
    flex-direction: column;
align-items: center;
  }
  .valueper {
    font-size: 12px;
  }

  .circledataearning {
    align-items: flex-start;
    margin-top: 0px;
    order: 1;
  }
}

@media (max-width: 320px) {
  .circleearning {
    flex-direction: column;
margin-left: -70px;
  }
}