/* Container for the entire section */
.deal-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Smaller padding = shorter height */
  background: linear-gradient(
      rgba(255, 255, 255, 0.8) 80%, 
      rgba(255, 255, 255, 0) 70%, 
      rgba(255, 255, 255, 0.8) 100%
  ), 
  url(https://myequitylab.com/upload/candle%20chart%201_1679116683.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Calibri", sans-serif;
  font-size: 14px; /* Decreased font size */
  margin: 30px auto; /* Reduced top-bottom margin */
  width: 90%;
  max-width: 1200px;
  min-height: 200px; /* Smaller min-height */
  border-radius: 10px;
}

  
  /* Left side text styling */
  .deal-chart-text {
    max-width: 60%;
  }
  .deal-highlight-text {
    font-size: 24px; /* Decreased font size */
    font-weight: bold;
    text-align: center;
    line-height: 1.2; /* Tighter line height */
    margin-bottom: 40px; /* Reduced bottom margin */
    font-family: 'Calibri';
   
    background: linear-gradient(90deg, #24b676, #238486);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

  /* Right side offer box */
  .deal-offer-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
  
    /* Gradient border with two colors */
    border: 6px solid transparent;
    border-radius: 12px; /* Curved corners */
    padding: 20px;
    width: 20%;
    height: 230px; /* Adjust height as needed */
    text-align: center;
 
    /* Apply the gradient border using border-image */
    background-clip: content-box; /* Ensures the gradient is outside the content */
   border: 4px solid #238486;
  }
  
  
  .deal-title {
    font-size: 20px;
    font-weight: 700;
    color: black;
    font-family: 'calibri';
    
  }
  
  .deal-plan-description {
   
   
    background: linear-gradient(90deg, #24b676, #238486);
    color: white;
    font-weight: bold;
    font-size: 19px;
    padding: 10px 20px;
    border-radius: 0 40px 0px 0;
    transform-origin: top left;
  margin-left: -50px;
    text-align: center;
  }
  
  .deal-explore-button {
    display: inline-block;
    width: 60%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, #24b676, #238486);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .deal-explore-button:hover {
    background: linear-gradient(90deg, #047857, #10b981);
  }
  

  @media (min-width: 1280px) and (max-width: 1535px)  /* Medium Desktops (1024px - 1279px) */{

    .deal-plan-description {
      position: absolute;
      margin-right: 85px;
      background: linear-gradient(90deg, #24b676, #238486);
      color: white;
      font-weight: bold;
      font-size: 19px;
      padding: 10px 20px;
      border-radius: 0 40px 0px 0;
      transform-origin: top left;
      margin-left: 50px;
      text-align: center;
  }
  .deal-title {
    font-size: 20px;
    font-weight: 700;
    color: black;
    font-family: 'calibri';
 
    
  }
  
  .deal-plan-description {
   
   
    background: linear-gradient(90deg, #24b676, #238486);
    color: white;
    font-weight: bold;
    font-size: 19px;
    padding: 10px 20px;
    border-radius: 0 40px 0px 0;
    transform-origin: top left;
  margin-left: 40px;
    text-align: center;
  }
  
  .deal-explore-button {
    display: inline-block;
    width: 60%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, #24b676, #238486);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 80px;
  }
  
  
  }



  
@media (min-width: 1024px) and (max-width: 1279px)  {
  .deal-chart-text {
    max-width: 50%;
  }
  .deal-offer-box {
    display: flex
;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border: 6px solid transparent;
    border-radius: 12px;
    padding: 20px;
    width: 30%;
    height: 230px;
    text-align: center;
    background-clip: content-box;
    border: 4px solid #238486;
    /* margin-left: 320px; */
    margin-right: -60px;
    margin-top: 20px;
}
.deal-highlight-text {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 70px;
  font-family: 'calibri';
  
  background: linear-gradient(90deg, #24b676, #238486);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 .deal-plan-description {
  position: absolute;
  margin-right: 85px;
  background: linear-gradient(90deg, #24b676, #238486);
  color: white;
  font-weight: bold;
  font-size: 19px;
  padding: 10px 20px;
  border-radius: 0 40px 0px 0;
  transform-origin: top left;
  margin-left: 50px;
  text-align: center;
}
.deal-explore-button {
  display: inline-block;
  width: 60%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(90deg, #24b676, #238486);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 80px;
}

}
  /* General Responsive Design */
@media (max-width: 768px) {
  .deal-section-container {
    flex-direction: column;
    /* padding: 10px 20px; */
    text-align: center;
    margin-top: -10px;
    min-height: 150px;
}
  .deal-chart-text {
    max-width: 100%; /* Use full width */
    margin-bottom: 30px; /* Add spacing between sections */
    margin-left: 0; /* Remove extra margin */
  }

  .deal-highlight-text {
    font-size: 18px;
    margin-bottom: 50px;
    margin-left: 0;
}

  .deal-offer-box {
    width: 40%;
    height: auto;
    padding: 20px;
}
  .deal-title {
    font-size: 16px; /* Adjust font size */
    margin-bottom: 50px;
  }

  .deal-plan-description {
    font-size: 16px;
    padding: 8px 15px;
    margin-left: -120px;
   
    background: linear-gradient(90deg, #24b676, #238486);
    color: white;
    font-weight: bold;
    border-radius: 0 40px 0px 0;
    transform-origin: top left;
    text-align: center;
}


  .deal-explore-button {
    width: 50%;/* Adjust button size */
    font-size: 14px; /* Smaller font size */
    margin-top: 20px; /* Reduce margin */
  }
}

@media (max-width: 480px) {
  .deal-section-container {
   
  
    margin-top: 10px;
    background-size: contain;
    background-position: center;
}

  .deal-highlight-text {
    font-size: 16px; /* Further reduce font size */
    margin-bottom: 30px; /* Adjust spacing */
    margin-top: 70px;
  }

  .deal-offer-box {
    width: 70%;
    padding: 15px; /* Reduce padding */
    height: auto; /* Flexible height */
    display: none;
  }

  .deal-title {
    font-size: 16px; /* Adjust font size */
    margin-bottom: 50px;
  }

  .deal-plan-description {
    font-size: 14px;
    padding: 6px 12px;
    margin-left: -120px;
}
  .deal-explore-button {
    width: 50%; /* Full-width button */
    font-size: 12px; /* Smaller font size */
    padding: 8px; /* Compact padding */
  }
}
@media (max-width: 320px){
 
  .deal-plan-description {
    font-size: 14px;
    padding: 4px 18px;
    margin-left: -35px;
}
.deal-explore-button {
  width: 50%;
  font-size: 12px;
  padding: 7px;
}
}


  