.landingpageadvantage-container {
  text-align: center;
  padding: 20px;
  font-family: 'calibri';
}

.landingpageadvantage-title {
  font-size: 22px;
  font-weight: bold;
  color: #0349a8;
  margin-bottom: 20px;
}

.landingpageadvantage-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  width: 890px;
  margin-left: 280px;
}

.landingpageadvantage-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  transition: transform 0.3s ease;
  
}

.landingpageadvantage-card:hover {
  transform: scale(1.05);
}

.landingpageadvantage-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.landingpageadvantage-text {
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(90deg, #24b676, #238486);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}





.landingpageadvantagedarkcontainer {
  text-align: center;
  padding: 20px;
  font-family: 'calibri';
  background-color: #292F42;
  margin-left: -14px;
  width: 104%;
}

.landingpageadvantagedarktitle {
  font-size: 22px;
  font-weight: bold;
  color: #ffff;
  margin-bottom: 20px;
}
/* Extra Large Screens (1536px and above) */
@media (min-width: 1536px) {
.landingpageadvantage-grid {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 1fr);
}
}

/* Large Desktops (1280px - 1535px) */
@media (min-width: 1280px) and (max-width: 1535px) {
.landingpageadvantage-grid {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 1fr);
}
}

/* Medium Desktops (1024px - 1279px) */
@media (min-width: 1024px) and (max-width: 1279px) {
.landingpageadvantage-grid {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(2, 1fr);
}
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
.landingpageadvantage-grid {
  width: 90%;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 50px;
}
.landingpageadvantage-title, 
.landingpageadvantagedarktitle {
    font-size: 20px;
}
}

/* Mobile Devices (Below 768px) */
@media (max-width: 767px) {
.landingpageadvantage-grid {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    margin-left: auto;
    margin-right: auto;
}
.landingpageadvantage-title, 
.landingpageadvantagedarktitle {
    font-size: 18px;
}
.landingpageadvantage-card {
    width: 90%;
}
}

/* Small Mobile Devices (Below 480px) */
@media (max-width: 480px) {
.landingpageadvantage-title, 
.landingpageadvantagedarktitle {
    font-size: 16px;
}
.landingpageadvantage-card {
    width: 100%;
}
.landingpageadvantage-icon {
    width: 60px;
    height: 60px;
}
.landingpageadvantage-text {
    font-size: 14px;
}
}
