.goalplanerforallllll {
    text-align: center;
   margin-top: 130px;
    font-family: 'calibri';
    width: 1000px;
    margin-left: 200px;
    margin-bottom: 170px;
  }
  
  .goalplanerforallllll h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .goalplanerforallllll p {
    font-size: 15px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .goal-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    justify-content: center;
   
 
  }
  
  .goal-cardplann {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 290px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* Added transition */
}

.goal-cardplann:hover {
    transform: scale(1.05); /* Smooth hover effect */
}

  

  
  .goal-cardplann h3 {
    font-size: 18px;
    font-weight: 600;
  }
  
  .goal-iconplann{
    width: 250px;
  }








/* darkmode */
.goalplanerforalllllldarkmode {
  text-align: center;
 margin-top: 105px;
  font-family: 'calibri';
margin-left: -8px;
margin-right: -10px;


  background-color: #292F42;
}

.goalplanerforalllllldarkmode h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.goalplanerforalllllldarkmode p {
  font-size: 15px;
  color: white;
  margin-bottom: 20px;
}

.goal-griddarkmode {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  margin-left: 90px;
  
 

}

.goal-cardplanndarkmode {
  background: #3B3F4F;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 290px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; /* Added transition */
  color: white;
  margin-bottom: 30px;
}

.goal-cardplanndarkmode:hover {
  transform: scale(1.05); /* Smooth hover effect */
}




.goal-cardplanndarkmode h3 {
  font-size: 18px;
  font-weight: 600;
}

.goal-iconplanndarkmode{
  width: 250px;
}






  @media (max-width: 768px) {
    .goalplanerforallllll {
        text-align: center;
       margin-top: 130px;
        font-family: 'calibri';
        width: 100%;
        margin-left: 0px;
      }
      
      .goalplanerforallllll h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      
      .goalplanerforallllll p {
        font-size: 15px;
        color: #555;
        margin-bottom: 20px;
      }
      
      .goal-grid {
        display: flex;  /* Use flexbox for column layout */
        flex-direction: column; /* Stack items vertically */
        gap: 25px; /* Space between items */
        align-items: center; /* Center items horizontally */
    }
    
      
      .goal-cardplann {
      
        background: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 290px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out; /* Added transition */
    }
    
    .goal-cardplann:hover {
        transform: scale(1.05); /* Smooth hover effect */
    }
    
      
    
      
      .goal-cardplann h3 {
        font-size: 18px;
        font-weight: 600;
      }
      
      .goal-iconplann{
        width: 250px;
      }
  }


  @media (max-width: 768px) {
    .goalplanerforallllll {
        text-align: center;
       margin-top: 130px;
        font-family: 'calibri';
        width: 90%;
        margin-left: 20px;
      }
      
      .goalplanerforallllll h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      
      .goalplanerforallllll p {
        font-size: 15px;
        color: #555;
        margin-bottom: 20px;
      }
      
      .goal-grid {
        display: flex;  /* Use flexbox for column layout */
        flex-direction: column; /* Stack items vertically */
        gap: 25px; /* Space between items */
        align-items: center; /* Center items horizontally */
    }
    
      
      .goal-cardplann {
      
        background: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 290px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out; /* Added transition */
    }
    
    .goal-cardplann:hover {
        transform: scale(1.05); /* Smooth hover effect */
    }
    
      
    
      
      .goal-cardplann h3 {
        font-size: 18px;
        font-weight: 600;
      }
      
      .goal-iconplann{
        width: 250px;
      }
  }