.screener-headerniftytab50{
    margin-top: 240px;
    font-family: "calibri";
}
.tabsnifty50-containerdash {
  display: flex; /* Flexbox layout to align buttons in a row */
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Prevents buttons from wrapping to next line */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  margin-bottom: 10px; /* Adds spacing at the bottom */
  padding: 0 10px; /* Optional: Add padding on left and right to create space */
  width: 70%; /* Ensure the container takes up full width */
}

.tabnifty50-buttondash {
  font-size: 10px; /* Adjust font size for better fit */
  margin: 4px; /* Ensure no margin between buttons */
  padding: 10px 15px; /* Padding within buttons for consistency */
  border: 1px solid #000000; /* Add border for visual clarity */
  border-radius: 4px;
  background-color: white; /* Button background color */
  color: #000; /* Text color */
  cursor: pointer; /* Pointer cursor on hover */

}


  .DashboardMainPagetable-headerrr {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin-left: 8px;
  }

.tabnifty50-buttondash.active {
    background: #24b676; /* Active background color */
    color:white; /* Active text color */
    font-weight: bold;
    border: 1px solid #24b676;
}

/* Highlighted column style */
.active-column {
    /* Highlight color */
    color: #24b676; /* Text color for contrast */
   
  }
  .pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
  }
  
  .pagination-info {
    font-size: 14px;
    color: #555;
  }
  
  .pagination-slider {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .pagination-button {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  .pagination-button:disabled {
    background-color: #eee;
    cursor: not-allowed;
  }
  
  .active-page {
    background-color: #24b676;
    color: #fff;
    border: 1px solid #24b676;
  }
  
  /* CSS */
.companycolumn {
  text-align: left; /* Options: left, center, right */
  align-items: left;
 
}


@media (max-width: 768px) {

  .tabnifty50-containerdash {
    padding: 0 5px; /* Adjust container padding for mobile */
  }
  .tabnifty50-buttondash {
    font-size: 10px; /* Ensure font is small enough for mobile */
    padding: 8px 12px; /* Adjust button padding for mobile */
  }
  
}

@media (max-width: 480px) {

  .tabnifty50-containerdash {
    padding: 0 5px; /* Adjust container padding for mobile */
  }
  .tabnifty50-buttondash {
    font-size: 10px; /* Ensure font is small enough for mobile */
    padding: 8px 12px; /* Adjust button padding for mobile */
  }
  
}