.key-indicators-card {
    border: 2px solid #a9c3e2;
    border-radius: 8px;
    box-shadow: 0 4px 12px black;
    max-width: 750px;
    margin: 20px auto;
    padding: 20px;
    height: 370px;
    font-family: "calibri";
  }
  

.MuiTypography-root.valuepriomary {
  font-size: 13px; /* or any desired size */
}
.MuiTypography-root.labelsec{
  font-size: 13px;
}
  .key{
    font-size: 23px;
    font-family:  "calibri";
    margin-top: 0;
  }
  .key-indicators-title{

  }
  .divider {
    margin: 10px 0;
  }
  
  .indicator {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  }
  
  .indicator:nth-child(odd) {
    background-color: #f9f9f9;
  }
   @media (min-width: 1280px) and (max-width: 1535px) {
    .key-indicators-card {
    border: 2px solid #a9c3e2;
    border-radius: 8px;
    box-shadow: 0 4px 12px black;
    max-width: 750px;
    margin: 20px auto;
    padding: 20px;
    height: 370px;
    font-family: "calibri";
  }
  
   }
  @media (max-width: 768px) {
    .key-indicators-card {
      max-width: 88%; /* Make the card take up more width */
      padding: 15px; /* Reduce padding for better fit */
      height: auto; /* Allow the height to adjust based on content */
    }
  .MuiTypography-root.valuepriomary {
  font-size: 12px; /* or any desired size */

}
    .key {
      font-size: 20px; /* Slightly smaller font size */
    }
  
    .indicator {
      font-size: 14px; /* Slightly smaller font size for indicators */
      flex-direction: column; /* Stack the indicator items vertically */
      align-items: flex-start; /* Align items to the left */
      padding: 8px 0; /* Increase padding for better touch interaction */
    }
  
    .indicator:nth-child(odd) {
      background-color:white; /* Lighter background color for odd rows */
    }
  }
  
  /* Mobile View for small devices (max-width: 480px) */
  @media (max-width: 480px) {
    .key-indicators-card {
      max-width: 78%; /* Take up nearly the full width */
      padding: 10px; /* Even smaller padding */
      height: auto; /* Allow height to adjust */
      margin-left: 30px;
      font-size: 12px;
    }
   
    .key-indicators-card .MuiTypography-root {
      font-size: 12px !important;
    }
    .indicator {
      flex-basis: 100% !important;
      max-width: 100% !important;
      font-size: 12px;
    }
    .key {
      font-size: 18px; /* Reduce font size further */
    }
  
    
    .indicator:nth-child(odd) {
      background-color:white; /* Lighter background color for odd rows */
    }
  }
  @media (max-width: 320px) {
    .key-indicators-card {
      max-width: 82%; /* Take up nearly the full width */
      padding: 10px; /* Even smaller padding */
      height: auto; /* Allow height to adjust */
      margin-left: 15px;
    }
  }