.recentipo {
    border: 1px solid #e4e0e0;
    border-radius: 5px;
    padding: 15px;
    width: 300px;
    font-family: 'calibri';
    margin-top: 10px;
    height: 415px;
    box-shadow: 4px 4px 10px rgba(233, 230, 230, 0.801); /* Adjust values as needed */
 
  }
  
  .recentipo h3 {
    color: #007bff;
    margin-bottom: 12px;
  }
  
  .recentipo ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .recentipo ul li {
    margin: 8px 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Remove the bottom border from the last item */
  .recentipo ul li:last-child {
    border-bottom: none;
  }