.faq-titleportfoliooanalysis {
    background: linear-gradient(to right, #24B676, #238486);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    margin-left:600px;
}
.faqquestans-container{
    font-family: 'calibri';
}
