.iti-limited-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'calibri';
  line-height: 1.3;
  color: black;
  margin-bottom: 50px;
}

.iti-limited-container h1 {
  font-size: 24px;
  color: #24b676;
  margin-bottom: 20px;
  margin-left: -28px;
}

.iti-limited-container h2 {
  font-size: 17px;
  color: black;
  margin-top: 30px;
  margin-left: -28px;
}

.iti-limited-container h3 {
  font-size: 17px;
  color: black;
  margin-top: 20px;
  
}

.iti-limited-container p {
  margin-bottom: 15px;
  color: black;
  font-size: 15px;
  margin-left: -28px;

}

.iti-limited-container ul {
  padding-left: 20px;

}

.iti-limited-container ul li {
  margin-bottom: 8px;
  
}
.read-more-btn {
  background-color: #24b676;
  color: white;
  padding: 8px 10px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 60px;
  float: right; /* Aligns the button to the right */
}

.read-more-btn:hover {
  background-color: #1b9e5a;
}
/* Mobile View for Tablets (max-width: 768px) */
@media (max-width: 768px) {
  .iti-limited-container {
    padding: 15px; /* Reduce padding for smaller screens */
    margin-left: 20px;
  }

  .iti-limited-container h1 {
    font-size: 1.3em; /* Slightly smaller heading font size */
  }

  .iti-limited-container h2, .iti-limited-container h3 {
    font-size: 15px; /* Adjust h2 and h3 font size */
    margin-top: 25px; /* Slightly reduce top margin for headings */
  }

  .iti-limited-container p {
    font-size: 14px; /* Reduce paragraph font size for better readability */
  }

  .read-more-btn {
    font-size: 14px; /* Slightly reduce button font size */
    padding: 8px 15px; /* Adjust padding of the button */
    margin-top: 15px; /* Adjust margin for button on smaller screens */
    float: none; /* Remove float to allow button to be centered or align naturally */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}

/* Mobile View for Small Devices (max-width: 480px) */
@media (max-width: 480px) {
  .iti-limited-container {
    padding: 10px; 
    margin-left: 20px;
    padding-left: 20px;
  }

  .iti-limited-container h1 {
    font-size: 1.1em;
  }

  .iti-limited-container h2, .iti-limited-container h3 {
    font-size: 14px; 
    margin-top: 20px; 
  }

  .iti-limited-container p {
    font-size: 13px; 
  }

  .read-more-btn {
    font-size: 13px; 
    padding: 6px 12px; 
    margin-top: 10px; 
    float: none; 
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}