.mutualfunddflex-container {
    display: flex;
    gap: 20px; /* Optional: adds space between the two components */
    flex-wrap: wrap; /* Allows the components to wrap to the next line on smaller screens */
   
  }
  
  .mutualfunddflex-container > * {
    flex: 1; /* Make both components take equal width */
    min-width: 400px; /* Optional: Set a minimum width for the components */
  }