
.alllsiprd{
    display: flex;
    gap: 240px;
 
  }
  .alllsipraterd{
    display: flex;
    gap: 260px;
  }
  .alllsipmonthlyrd{
    display: flex;
    gap: 190px;
  }
  @media (max-width: 768px) {
    .alllsiprd{
        display: flex;
        gap: 100px;
     
      }
      .alllsipraterd{
        display: flex;
        gap: 110px;
      }
      .alllsipmonthlyrd{
        display: flex;
        gap: 60px;
      }
  }

  @media (max-width: 480px) {
    .alllsiprd{
        display: flex;
        gap: 40px;
     
      }
      .alllsipraterd{
        display: flex;
        gap: 50px;
      }
      .alllsipmonthlyrd{
        display: flex;
        gap: 6px;
      }
  }