
  /* Popup container */
  .popupunlocklandingdarkpage {
    background: #212639;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    font-family: 'calibri';
  }
  
  /* Close button */
  .popupunlocklandingpage-darkclose {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    color: #ffff;
    font-family: 'calibri';
  }
  
 
  
 
  /* List styling */
  .popupunlocklandingpage-darklist {
    list-style-type: none; /* Removes default bullets */
    padding: 0;
    text-align: left;
    font-size: 14px;
    color: #ffff;
    line-height: 1.8;
    font-family: 'calibri';
  }
  
 
 