.niftykeyindicator {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 450px;
    margin-top: 5px;
    height: 380px;
    font-family: 'Calibri';
    box-shadow: 0px 4px 8px rgb(216, 215, 215); /* Adds a subtle shadow */
    background-color: #ffffff; /* Adds a clean white background */
    margin-left: 20px;
}
  
  .niftykeyindicator-heading {
    font-size: 18px;
    margin-bottom: 16px;
    text-align: center;
    color: #333;
  }
  
  .niftykeyindicator-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .niftykeyindicator-cell {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 15px;
    color: black;
  }
  
  .niftykeyindicator-cell:last-child {
    text-align: right;
  }
  /* Mobile View for 768px (Tablet view) */
@media (max-width: 768px) {
  .niftykeyindicator {
      width: 90%; /* Adjust width to take up more space on tablet */
      margin-left: 1px; /* Center the component horizontally */
      margin-right: auto;
      height: auto; /* Allow the height to adjust based on content */
  }

  .niftykeyindicator-heading {
      font-size: 16px; /* Reduce heading size for smaller screens */
  }

  .niftykeyindicator-cell {
      font-size: 14px; /* Reduce font size for table cells */
      padding: 12px; /* Adjust padding for table cells */
  }

  
}

/* Mobile View for 480px (Small Mobile screens) */
@media (max-width: 480px) {
  .niftykeyindicator {
    width: 90%; /* Adjust width to take up more space on tablet */
    margin-left: 1px; /* Center the component horizontally */
    margin-right: auto;
    height: auto; /* Allow the height to adjust based on content */
  }

  .niftykeyindicator-heading {
    font-size: 16px; /* Reduce heading size for smaller screens */
  }

  .niftykeyindicator-cell {
    font-size: 13px; /* Reduce font size for table cells */
    padding: 12px; /* Adjust padding for table cells */
  }

  .niftykeyindicator-cell:last-child {
      text-align: left; /* Align the last cell to the left for readability */
  }
}