/* General Styles */
.ipoDetailsContainer {
  max-width: 100%;
  width: 100%;
  margin-left: 80px;
  padding: 20px;
  font-family: 'Calibri', sans-serif;
  color: #333;
  margin-top: 80px;
}

.ipoNewsTitle, .investgg-heading, .ipoNewsSubtitle, .ipoContent h3, .ipoContent p, .investgg-paragraph {
  margin-left: 70px;

}
.investgg-paragraph{
  width: 85%;
}
.ipoNewsTitle {
  font-size: 24px;
  font-weight: bold;
}

.ipoNewsSubtitle {
  font-size: 15px;
  color: #555;
  margin-bottom: 20px;
}

.datetimecardipo {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  margin-left: 70px;
}

.ipopara {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: black;
}

.dateipocard, .profileipocard {
  margin-right: 5px;
  font-size: 16px;
  color: black;
}

/* Share Icons */
.shareIcons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.iconimageall {
  display: flex;
  gap: 30px;
}

.shareIcon {
  font-size: 20px;
  color: #0159b7;
  cursor: pointer;
  transition: color 0.3s ease;
}

.shareIcon:hover {
  color: #007bff;
}

.shareIcons h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
  text-align: center;
  margin-top: 70px;
}

/* IPO Image */
.ipoImage {
  width: 850px;
  height: 450px;
  margin-bottom: 20px;
  border-radius: 8px;
  margin-top: 10px;
}

/* IPO Details */
.ipoDetails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  margin-bottom: 20px;
  width: 800px;
  margin-left: 48px;
  margin-top: 25px;
}

.ipodta {
  margin-left: 70px;
  border: 1px solid rgb(221, 211, 211);
  width: 890px;
  height: 350px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.ipoDetailItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 15px;
  border-left: none;
  border-right: none;
  gap: 70px;
}

.ipoDetailItem:nth-child(3n + 2) {
  background-color: rgb(240, 244, 249);
}

.ipoDetailLabel {
  font-weight: bold;
  color: #555;
}

.ipoDetailValue {
  color: #555;
  font-weight: bold;
}

.ipoContent {
  margin-top: 20px;
}

.ipoContent h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #0d64bb;
}

.ipoContent p {
  margin-bottom: 15px;
  font-size: 15px;
  color: black;
  line-height: 1.4;
  max-width: 100%;
  width: 85%;
}

.strongfontipo {
  color: #0d64bb;
}

.recentall {
  display: flex;
}

@media (min-width: 2000px) {
  .ipoDetailsContainer {
    max-width: 1536px;
   
    margin-left: 500px;
    padding: 20px;
    font-family: 'Calibri';
    color: #333;
    margin-top: 80px;
  }
}

@media (min-width: 1280px) and (max-width: 1535px) {
  /* General Styles */
.ipoDetailsContainer {
  max-width: 1280px;
  width: 100%;
  margin-left: 80px;
  padding: 20px;
  font-family: 'Calibri';
  color: #333;
  margin-top: 70px;
}

.ipoNewsTitle, .investgg-heading, .ipoNewsSubtitle, .ipoContent h3, .ipoContent p, .investgg-paragraph {
  margin-left: 70px;
}

.ipoNewsTitle {
  font-size: 24px;
  font-weight: bold;
}

.ipoNewsSubtitle {
  font-size: 15px;
  color: #555;
  margin-bottom: 20px;
}

.datetimecardipo {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  margin-left: 70px;
}

.ipopara {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: black;
}

.dateipocard, .profileipocard {
  margin-right: 5px;
  font-size: 16px;
  color: black;
}

/* Share Icons */
.shareIcons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.iconimageall {
  display: flex;
  gap: 30px;
}

.shareIcon {
  font-size: 20px;
  color: #0159b7;
  cursor: pointer;
  transition: color 0.3s ease;
}

.shareIcon:hover {
  color: #007bff;
}

.shareIcons h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
  text-align: center;
  margin-top: 70px;
}

/* IPO Image */
.ipoImage {
  width: 850px;
  height: 450px;
  margin-bottom: 20px;
  border-radius: 8px;
  margin-top: 10px;
}

/* IPO Details */
.ipoDetails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  margin-bottom: 20px;
  width: 800px;
  margin-left: 48px;
  margin-top: 25px;
}

.ipodta {
  margin-left: 70px;
  border: 1px solid rgb(221, 211, 211);
  width: 890px;
  height: 350px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.ipoDetailItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 15px;
  border-left: none;
  border-right: none;
  gap: 70px;
}

.ipoDetailItem:nth-child(3n + 2) {
  background-color: rgb(240, 244, 249);
}

.ipoDetailLabel {
  font-weight: bold;
  color: #555;
}

.ipoDetailValue {
  color: #555;
  font-weight: bold;
}

.ipoContent {
  margin-top: 20px;
}

.ipoContent h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #0d64bb;
}

.ipoContent p {
  margin-bottom: 15px;
  font-size: 15px;
  color: black;
  line-height: 1.4;
}

.strongfontipo {
  color: #0d64bb;
}

.recentall {
  display: flex;
}
}
@media (min-width: 1024px) and (max-width: 1279px)  {
  .ipoDetailsContainer {
    max-width: 1024px;
   
    margin-left: 10px;
    padding: 20px;
    font-family: 'Calibri';
    color: #333;
    margin-top: 60px;
  }
  .ipodta {
    margin-left: 70px;
    border: 1px solid rgb(221, 211, 211);
    width: 870px;
    height: 350px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.ipoDetails {
  display: grid
;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  margin-bottom: 20px;
  width: 800px;
  margin-left: 38px;
  margin-top: 25px;
}
  .ipoImage {
    width: 550px;
    height: 450px;
    margin-bottom: 20px;
    border-radius: 8px;
    margin-top: 10px;
  }
}
/* Responsive Styles */
@media (min-width: 768px) and (max-width: 1023px) {
  body{
    overflow-x: hidden;
  }
  .datetimecardipo {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    margin-left: 20px;}
  .ipoDetailsContainer {
    max-width: 768px;
   
    margin-left: 10px;
    padding: 20px;
    font-family: 'Calibri';
    color: #333;
    margin-top: -10px;
  }
  .ipoImage {
    width: 440px;
    height: 360px;
    margin-bottom: 20px;
    border-radius: 8px;
    margin-top: 10px;
  }
  .iconimageall {
    display: flex
;
    gap: 10px;
}
  .shareIcon {
    font-size: 20px;
    color: #0159b7;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-left: 10px;
  }
  .recentipo {
    width: 83%;
    margin-left: -0px;
    margin-right: 0px;
    height: 335px;
   
}
.ipodta {
  margin: 10px auto;
  margin-left: 15px;
  width: 90%;
  height: 100%;
}
.ipoDetails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  margin-bottom: 20px;
  width: 650px;
  margin-left: 8px;
  margin-top: 25px;
}
.ipoNewsTitle, .investgg-heading, .ipoNewsSubtitle, .ipoContent h3, .ipoContent p, .investgg-paragraph{
  margin-left: 25px;
}
.investgg-paragraph{
  width: 650px;
}
.ipotable {
  width: 80%; /* Slightly reduce width for better fit */
  margin-left: 10px;
}
.ipo-details h2, .key-ratios h2, .subscription-status h2, .financialIPO-history h2 {
  margin-left: 10px;
}
 .ebitpara{
margin-left: 10px;
width: 80%;

}
.ipopms-list {
  margin-left: 0px;
  width: 85%;
}
.iporecommendation-box {
  padding: 4px;
  width: 81%;
  margin-left: 10px;
  }
  .iporecommendation-title {
    font-size: 18px;
    margin-left: 10px;
  }
  .ipocomment-container {
    margin-left: 20px;
    width: 80%;
    height: 50%;
}
.ipocommentt-group input{
  width: 90%;
}
.upcomingipo-container {
  flex-direction: column; /* Stack the sections vertically */
  margin-left: 21px;
  width: 85%;
  margin-bottom: 80px;
  margin-top: -60px;
  height: 480px;
/* Allow height to adjust */
}
.ipoupcomsubs {
  font-size: 16px;

margin-left: 20px;
  margin-bottom: 90px;
  width: 80%;
  margin-top: -20px;
}
.ipoContent {
  margin-top: 20px;
  width: 650px;
}


}



/* Responsive Fix */
@media (max-width: 480px) {
  .ipoDetailsContainer {
    max-width: 90%;
    width: 90%;
    margin: 0;
    padding: 15px;
  }
  /* Prevent horizontal scrolling */
html, body {
  overflow-x: hidden;
 
}

/* Ensure elements don’t exceed viewport width */


  .ipoDetails {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }



  .ipoNewsSubtitle,
  .ipoContent h3,
  .ipoContent p {
    font-size: 13px;
    /* Further reduce font size for mobile */
    margin-left: 5px;
    /* Minimal left margin for compact layout */
    text-align: justify;
  }

  .ipoNewsTitle {
    font-size: 16px;
    /* Further reduce font size for mobile */
    margin-left: 5px;
    /* Minimal left margin for compact layout */
    text-align: justify;
    margin-top: 60px;
  }

  .ipoDetailsContainer {
    margin: 10px;
    /* Reduce margins for compact view */
    padding: 10px;
    margin-left: 7px;
  }

  .ipoDetails {
    row-gap: 10px;
    /* Reduce spacing between rows */

  }

  .investgg-heading {
    margin-left: 0px;
    font-size: 15px;
  }
  .ipoDetailLabel {
    font-weight: bold;
    color: #555;
    font-size: 13px;
}
.ipoDetailValue {
  color: #555;
  font-weight: bold;
  font-size: 13px;
}
  .investgg-paragraph {
    margin-left: 0px;
    width: 102%;
    font-size: 13px;
  }

  .ipodta {
    margin: 10px auto;
    margin-left: -0px;
    width: 102%;
    height: 100%;
  }

  .ipoContent {
    margin-top: 20px;
    width: 115%;
  }

  .ipoDetailItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
    border-left: none;
    border-right: none;
    gap: 70px;
    width: 36%;
    margin-left: -20px;
  }

  .ipoImage {
    max-width: 120%;
    width: 100%;
    height: 90%;
    margin-left: 0px;

    justify-content: center;
  }

  .recentall {
    gap: 5px;
    /* Further reduce gap for mobile */
  }

  .iconimageall {
    /* display: table-column; */
    gap: 1px;
    flex-direction: column;
  }

  .shareIcons {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .datetimecardipo {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    margin-left: 2px;
  }
  .shareIcons h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-top: 0px;
}
.ipoDetails {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    margin-bottom: 20px;
margin-right: -50px;

    width: 215%;
    
}

}



@media (max-width: 320px) {

.ipoDetails {
/* display: grid
; */
grid-template-columns: repeat(1, 1fr);
column-gap: 20px;
margin-bottom: 20px;
width: 660px;
margin-left: 35px;
margin-top: 25px;

}
.ipoDetailValue {
        color: #555;
        font-weight: bold;
        font-size: 12px;
    }
 
    .investgg-paragraph {
        margin-left: 3px;
        width: 102%;
        font-size: 13px;

}

  .ipoDetailsContainer {
      margin: 10px;
      padding: 10px;
      margin-left: 1px;
  }
}