.sectorTableContainerniffty50 {
    width: 50%;
    margin: auto;
    padding: 20px;
    font-family: 'calibri';
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  
  .sectorTableHeadingniffty50 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-left: 400px;
    margin-top: 250px;
  }
  
  
  .sectorTableniffty50 {
    width: 100%;
    border-collapse: collapse;
  }
  
  
  
  
  .sectorTableRowniffty50 td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .sectorTableRowniffty50:nth-child(even) {
    background-color: #f4f4f4;
  }
  .sectorTableRowniffty50:nth-child(odd) {
    background-color: #ffffff;
  }
  .sectorTableRowniffty50:hover {
    background-color: #e9ecef;
  }
  
 