.speedometer-container {
    display: flex;
    flex-direction: column;
color: black;
padding: 10px;
    background: white;
border: 1px solid rgb(198, 190, 190);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(181, 181, 181, 0.982);
    max-width: 580px;

    height: 370px;
   font-family: 'calibri';
   margin-top: 20px;
  }
  .speedoparaheadall {
    display: flex;
  gap: 200px;
    align-items: center;
    padding: 0px 0;
    margin-left: 10px;
  }
  .allspeedometerr{
    margin-top: -20px;
  }
  
  .speedometer-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: -1px;
  }
  
  .speedometer-subtitle {
    font-size: 15px;
    color: black;
    margin-bottom: 20px;
  }
  
  .speedometer-gauge {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 50px;
  
  }
  
  .speedometer-label {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #24b676;
    margin-top: -10px;
  }
 

  .table-view-button {
    color: #333;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
  .table-view-button:hover{
    color: #24b676;
  }
  
  .tablespeedometerallheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .speedometertteclose-button {
    cursor: pointer;
    font-size: 20px;
    color:black;
    font-weight: bold;
  }
  
  /* Modal Styles */
  .table-modalspeedometerr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .table-contentspeedometerr {
    background: white;
    padding: 10px;
    border-radius: 20px;
    width: 780px;
    text-align: center;
  }
  
  .table-contentspeedometerr table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .table-contentspeedometerr th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .table-contentspeedometerr th {
    background: #f0f0f0;
  }
  

  