.footer-nav {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .footer-link {
    text-decoration: none;
    color: #777;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-item.selected {
    color: #fff;
    background-color: #2ecc71;
    padding: 5px 10px;
    border-radius: 50%;
  }
  
  .footer-icon {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .chevron-icon {
    font-size: 10px;
  }
  
  .dropdown {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    top: 50px;
  }